.window__wrapper {
  margin: 40px auto 0;
  width: 80%;
  background-image: url("../../../assets/img_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: #FFFFFF;
  padding: 20px 43px;
  border-radius: 20px;
  .header {
    .date-city__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .date__info {
        margin-right: 10px;
        .time {
          font-size: 70px;
          margin: 0;
        }
        .date {
          font-size: 20px;
          margin: 0;
        }
      }
      .input {
        background-color: transparent;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 8px 8px 8px 12px;
      }
      .city__info {
        .city {
          font-size: 40px;
          margin: 0;
        }
        .country {
          margin: 0;
          font-size: 20px;
          text-align: right;
        }
      }
    }
  }
  .description-weather__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 40px 0 0;
    padding: 0;
    .column {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      flex-basis: 20%;
      .description-weather__item {
        margin-bottom: 20px;
        .time__description {
          background-color: grey;
          padding: 3px 7px;
          border-radius: 20px;
          margin-right: 5px;
        }
        .text__description {

        }
      }
    }
  }
}
