<div *ngIf="currentWeather" class="window__wrapper" appBackgroundWeather [currentWeather]="currentWeather.weather[0].icon">
  <div class="header">
    <div class="date-city__info">
      <div class="date__info">
        <p class="time" *ngIf="currentDateTime !== ''">{{currentDateTime | time: true}}</p>
        <p class="date" *ngIf="currentDateTime !== ''">{{currentDateTime | date}}</p>
      </div>
      <input class="time" *ngIf="currentDateTime !== ''" type="text" class="input" placeholder="Input desired city" (keyup.enter)="enterCity($event)" [(ngModel)]="inputCity">
      <div class="city__info">
        <p class="city">{{currentCity}}</p>
        <p class="country">{{currentCountry}}</p>
      </div>
    </div>
  </div>
  <ul class="description-weather__list">
    <div class="column">
      <ng-container *ngFor="let weatherItem of weatherList | currentWeather: currentDateTime; let i = index">
        <li class="description-weather__item" *ngIf="i < 4">
          <span class="time__description">{{weatherItem.dt_txt | time: false}}</span>
          <span class="text__description">{{weatherItem.weather[0].description | titlecase}}</span>
        </li>
      </ng-container>
    </div>
    <div class="column">
      <ng-container *ngFor="let weatherItem of weatherList | currentWeather: currentDateTime; let i = index">
        <li class="description-weather__item" *ngIf="i >= 4">
          <span class="time__description">{{weatherItem.dt_txt | time: false}}</span>
          <span class="text__description">{{weatherItem.weather[0].description | titlecase}}</span>
        </li>
      </ng-container>
    </div>
  </ul>
  <div class="week-weather__wrapper">
    <div class="day__week" *ngFor="let weatherItem of weatherList | weekWeather; let i = index">
      <div class="day__name">{{weatherItem.date | dayName}}</div>
      <img class="weather__icon" src="https://openweathermap.org/img/wn/{{weatherItem.mostFrequentIcon}}@2x.png" alt="weather-icon">
      <div class="day__temperature">{{(weatherItem.maxTemperature - 273.15) | number: '2.0-0'}}°</div>
    </div>
  </div>
</div>
