<div *ngIf="currentWeather" class="window__wrapper" appBackgroundWeather [weatherID]="this.currentIcon">
  <div class="header">
    <div class="date-city__info">
      <div class="date__info">
        <p class="time" *ngIf="currentDateTime !== ''">{{currentDateTime | time: true}}</p>
        <p class="date" *ngIf="currentDateTime !== ''">{{currentDateTime | date}}</p>
      </div>
      <div class="autocomplete-container">
        <input class="time" (blur)="this.suggestions = [];" (input)="getAutocompleteSuggestions()" *ngIf="currentDateTime !== ''" type="text" class="input" placeholder="Input desired city" (keyup.enter)="enterCity()" [(ngModel)]="inputCity">
        <ul *ngIf="suggestions.length > 0" class="autocomplete-list">
          <li class="autocomplete-item" *ngFor="let suggestion of suggestions" (mousedown)="selectSuggestion(suggestion)">{{ suggestion.matching_full_name }}</li>
        </ul>
      </div>
      <div class="city__info">
        <p class="city">{{currentCity}}</p>
        <p class="country">{{currentCountry}}</p>
      </div>
    </div>
  </div>
  <div class="info__current-weather">
    <ul class="description-weather__list">
      <div class="column">
        <ng-container *ngFor="let weatherItem of weatherList | currentWeather: activeDate; let i = index">
          <li class="description-weather__item" *ngIf="i < 4">
            <span class="time__description">{{weatherItem.dt_txt | time: false}}</span>
            <span class="text__description">{{weatherItem.weather[0].description | titlecase}}</span>
          </li>
        </ng-container>
      </div>
      <div class="column">
        <ng-container *ngFor="let weatherItem of weatherList | currentWeather: activeDate; let i = index">
          <li class="description-weather__item" *ngIf="i >= 4">
            <span class="time__description">{{weatherItem.dt_txt | time: false}}</span>
            <span class="text__description">{{weatherItem.weather[0].description | titlecase}}</span>
          </li>
        </ng-container>
      </div>
    </ul>
    <div class="weather-day__data">
      <div class="weather-character__item">
        <p>Max temp</p>
        <div class="weather__index">{{((weatherList | feelsTemperature: activeDate) - 273.15) | number: '2.0-0'}}</div>
        <p>C°</p>
      </div>
      <div class="weather-character__item">
        <p>Feel temp</p>
        <div class="weather__index">{{((weatherList | maxTemperature: activeDate) - 273.15) | number: '2.0-0'}}</div>
        <p>C°</p>
      </div>
      <div class="weather-character__item">
        <p>Wind speed</p>
        <div class="weather__index">{{weatherList | windSpeed: activeDate | roundPipe: 1}}</div>
        <p>m/sec</p>
      </div>
      <div class="weather-character__item">
        <p>Pressure</p>
        <div class="weather__index">{{weatherList | averagePressure: activeDate | roundPipe: 1}}</div>
        <p>pHa</p>
      </div>
      <div class="weather-character__item">
        <p>Clouds</p>
        <div class="weather__index">{{weatherList | averageClouds: activeDate | roundPipe: 1}}</div>
        <p>%</p>
      </div>
    </div>
  </div>
  <div class="week-weather__wrapper">
    <div class="day__week" *ngFor="let weatherItem of (weatherList | weekWeather).slice(0,5); let i = index"  (click)="toggleWeather(weatherItem.date, weatherItem.mostFrequentIcon)">
      <div class="day__week__wrapper" [ngClass]="{'active': (weatherItem.date | dayName) === (activeDate | dayName)}">
        <div class="day__name">{{weatherItem.date | dayName}}</div>
        <img class="weather__icon" src="https://openweathermap.org/img/wn/{{weatherItem.mostFrequentIcon}}@2x.png" alt="weather-icon">
        <div class="day__temperature">{{(weatherItem.maxTemperature - 273.15) | roundPipe: 0}}°</div>
      </div>
    </div>
  </div>
</div>
